name: "Lint and test"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  hassfest: # https://developers.home-assistant.io/blog/2020/04/16/hassfest
    name: "Hassfest Validation"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v4.2.2"

        - name: "Run hassfest validation"
          uses: "home-assistant/actions/hassfest@master"

  hacs: # https://github.com/hacs/action
    name: "HACS Validation"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v4.2.2"

        - name: "Run HACS validation"
          uses: "hacs/action@main"
          with:
            category: "integration"
            # Remove this 'ignore' key when you have added brand images for your integration to https://github.com/home-assistant/brands
            ignore: "brands"

  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v4.2.2"

        - name: Install uv
          uses: astral-sh/setup-uv@b5f58b2abc5763ade55e4e9d0fe52cd1ff7979ca # v3

        - name: Set up Python
          run: uv python install 3.12

        - name: Install the project
          run: uv sync --all-extras --dev --prerelease=allow

        - name: "Run ruff"
          run: uv run --prerelease=allow ruff check .

        - name: "Format with ruff"
          run: uv run --prerelease=allow ruff format . --check
  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
      - name: Check out code from GitHub
        uses: "actions/checkout@v4.2.2"
      - name: Install uv
        uses: astral-sh/setup-uv@b5f58b2abc5763ade55e4e9d0fe52cd1ff7979ca # v3

      - name: Set up Python
        run: uv python install 3.11

      - name: Install the project
        run: uv sync --all-extras --dev --prerelease=allow

      - name: "Run ruff"
        run: uv run --prerelease=allow ruff check .

      - name: "Format with ruff"
        run: uv run --prerelease=allow ruff format . --check
      - name: Run tests
        run: |
          uv run --prerelease=allow  pytest \
            -qq \
            --timeout=9 \
            --durations=10 \
            -n auto \
            --cov custom_components.stiebel_eltron_isg \
            -o console_output_style=count \
            -p no:sugar \
            tests
